{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": false,
  "newline-before-return": true,
  "arrowParens": "avoid",
  "no-duplicate-variable": [
    true,
    "check-parameters"
  ],
  "no-var-keyword": true,
  "endOfLine": "lf"
}
